extends layout.pug 

block content 
  div welcome to the bucket list! 

  form(action="/users", method="post") 
    input(placeholder="firstname", name="firstName", value=user.firstName)
    input(placeholder="username", name="username", value=user.username)
    input(placeholder="lastname", name="lastName", value=user.lastName)
    input(placeholder="email", name="email", value=user.email)
    input(placeholder="password", name="password", value=user.password)

    button(type="submit" class="nav-link") signup